:root{
  --main-font-size:20px;
}
/* p+p{
  color: red;
}
p+div{
  color: teal;
} */
/* p~div{

} */
#container > p ~ div{
  font-size: var(--main-font-size);
}

p:hover{
  background-color: violet;
}
.inner-block>p:hover{
  background-color: green;
}
