*{
  box-sizing: border-box;
}
body{
  margin: o;
  height: 300vh;
}
.wrapper-out{
  width: 80%;
  height: 700px;
  margin: 20px auto;
  background-color: blueviolet;
}
.wrapper{
  width: 80%;
  height: 700px;
  margin: 20px auto;
  background-color: pink;
}
.inner{
  background-color: chartreuse;
  font-size: 2em;
}
.sizes{
  width: 100px;
  height: 100px;
  border: 3px solid #000;
}
.fixed{
  position: fixed;
}
.top{
  top:0;
}
.left{
  left:0;
}
.right{
  right: 0px;
}
.bottom{
  bottom: 0px;
}
/* .rezise{
  width: 150px;
  background-color: coral;
} */
